.our-millionaires {
  .our-millionaires-inner {
    h2 {
      text-align: center;
      font-size: 5.1rem;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 2.5rem;
      color: #11161f;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.6;
      text-align: center;
      color: #11161f;
      opacity: 0.7;
      margin: 0 auto;
      max-width: 73ch;
      margin-bottom: 6.6rem;
    }

    .item-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .single-item {
        width: 31.33%;
        // height: 51.5rem;
        background: #ffffff;
        box-shadow: 1rem 1.7rem 42px rgba(0, 0, 0, 0.07);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        margin: 0 1% 2.3rem 1%;
        position: relative;

        .top {
          display: flex;
          margin-bottom: 4.5rem;

          .cover {
            width: 67.5%;
            height: 30rem;
            border-radius: 0.6rem;
            -webkit-border-radius: 0.6rem;
            -moz-border-radius: 0.6rem;
            -ms-border-radius: 0.6rem;
            -o-border-radius: 0.6rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .social-links {
            width: calc(100% - 67.5%);
            display: flex;
            flex-direction: column;
            align-items: end;
            padding: 2.5rem;

            a {
              width: 4.7rem;
              height: 4.7rem;
              border-radius: 100%;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              -ms-border-radius: 100%;
              -o-border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              box-shadow: 0.5rem 0.6rem 25px rgba(0, 0, 0, 0.1);
              margin-bottom: 2rem;

              img {
                width: 2.1rem;
                height: auto;
              }
            }
          }
        }

        .review-screenshot {
          position: absolute;
          top: 18.8rem;
          right: 2.5rem;
          width: 70%;
          height: 14.4rem;
          background: #ffffff;
          box-shadow: 0.55rem 0.65rem 26.9565px rgba(0, 0, 0, 0.1);
          border-radius: 0.65rem;
          -webkit-border-radius: 0.65rem;
          -moz-border-radius: 0.65rem;
          -ms-border-radius: 0.65rem;
          -o-border-radius: 0.65rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .bottom {
          padding: 2.5rem;

          .person-info {
            display: flex;
            height: 6rem;
            margin-bottom: 2rem;

            .avater {
              width: 6rem;
              height: 6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 2rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .right {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              //   padding: 0.5rem 0;

              h3 {
                color: #11161f;
                font-size: 2.1rem;
                font-weight: 500;
              }

              p {
                margin: 0;
                color: #11161f;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }

          a {
            text-decoration: none;
            color: #ffffff;
            background-color: #000;
            display: block;
            text-align: center;
            padding: 1.2rem;
            font-size: 2.1rem;
            font-weight: 500;
            border-radius: 0.6rem;
            -webkit-border-radius: 0.6rem;
            -moz-border-radius: 0.6rem;
            -ms-border-radius: 0.6rem;
            -o-border-radius: 0.6rem;
          }
        }
      }
    }

    .see-all-button-wrapper {
      text-align: center;
      margin-top: 2rem;
      a {
        text-decoration: none;
        padding: 1.5rem 6rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .our-millionaires {
    .our-millionaires-inner {
      .item-wrapper {
        .single-item {
          width: 48%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .our-millionaires {
    .our-millionaires-inner {
      .item-wrapper {
        .single-item {
          width: 98%;
        }
      }
    }
  }
}

#our-millionaires-video {
  margin-top: 15rem;
}
